<body class="index-tpl">
	<div id="container">
		<div id="header1">
			<%= link_to "На главную", root_path, class: "logo" %>

			<ul>
				<li>
					<%= link_to "компания", about_path %>
					<ul>
							<% Page.all.each do |page| %>
							<li><%= link_to page.title, page %></li>
							<% end %>
							<li><%= link_to "Клиенты", clients_path %></li>
					</ul>
				</li>
				<li><%= link_to "Работы", works_path %></li>
				<li><%= link_to "Награды", awards_path %></li>
				<li><%= link_to (contact_path) do %>
					<span>Контакты</span>
					<% end %></li>
				<li><a href="#" class="order-link"><span>Заказать</span></a></li>
			</ul>
		</div>
		
		<div id="slider-idx">
			<ul>
				<% @front_works.each do |work| %>
				<li>
					<%= image_tag(work.logo2) %>
					<span class="si-title"><%= work.front_title %></span>
					<a href="<%= url_for work %>" class="si-detail"><span>Перейти<br />к проекту</span></a>
				</li>
				<% end %>
			</ul>
			
			<div id="paging"  class="si-links"></div>
			<a href="#" id="si-prev" class="si-arrows" title="Назад">Назад</a>
			<a href="#" id="si-next" class="si-arrows" title="Вперед">Вперед</a>
		</div>
		
		<div class="footer-space"></div>
	</div>
	
	<%= render 'layouts/footer' %>