<body>
	<div id="container">
		<%= render 'layouts/header' %>	
		<div id="middle">
			<div class="h1 wl-h1">
				<h1>Избранные работы</h1>
			</div>
					
			<ul class="works-list">
				<% @works.each do |work| %>
				<li>
					<%= link_to (work) do %>
					<span class="wl-img">
						<%= image_tag(work.logo1) %>
					</span>
						<%= work.title %>
						<span class="wl-brd"></span>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
		
		<div class="footer-space"></div>
	</div>
	
	<%= render 'layouts/footer' %>