<body>
	<div id="container">
		<%= render 'layouts/header' %>
		<div id="middle">
			<div id="left">
				<ul class="l-menu l-work-menu">	
					<li><%= link_to "назад", 'javascript:history.back()' %></li>
				</ul>
			</div>

			<div id="right" class="work-block">
				<div class="h1">
					<h1><%= @work.title %></h1>
				</div>
					
				<div class="content">
					<p><%= sanitize @work.description %></p>
				</div>
			</div>
		</div>
		<a href="#" title="Наверх" class="up-link">Наверх</a>
		
		<div class="footer-space"></div>
	</div>
	
	<%= render 'layouts/footer' %>