<% provide(:title, 'ZERO | Про zero') %>

	<div id="container">
		<%= render 'layouts/header' %>
		<div id="middle">
			<div id="left">
				<ul class="l-menu">	
					<li class="active"><%= link_to "про зеро", about_path %></li>
					<li><%= link_to "клиенты", clients_path %></li>
					<li><%= link_to "пресс-кит", kit_path %></li>
				</ul>
			</div>

			<div id="right">
				<div class="h1">
					<h1>пару слов о zero</h1>
				</div>
					
				<div class="content">
					<p>Мы осуществляем маркетинговый консалтинг для компаний B2B-рынка. Это предполагает разработку и реализацию полноценной программы интегрированных маркетинговых коммуникаций или отдельных ее элементов.</p>

					<p><strong>В состав ZERO входят следующие функциональные подразделения</strong>:</p>
					<ul>
						<li><strong>Zero Marketing</strong>: маркетинговый консалтинг, исследования, разработка стратегии и позиционирования, бренд-программирование, коммуникационная стратегия, программы интегрированных маркетинговых коммуникаций;</li>
						<li><strong>Zero Creative</strong>: разработка креативных решений;</li>
						<li><strong>Zero Communications</strong>: разработка коммуникационной стратегии и программы, PR-мероприятия и комплексное PR-обслуживание;</li>
						<li><strong>Zero Design</strong>: дизайн-концепт, дизайн-проектирование;</li>
						<li><strong>Zero Print</strong>: предпечатная подготовка и принт-менеджмент;</li>
						<li><strong>Zero Expo</strong>: разработка дизайн-концепции и монтаж выставочных стендов и конструкций;</li>
						<li><strong>Zero Web</strong>: веб-проектирование, дизайн и программирование сайта, оптимизация и обслуживание сайта.</li>
					</ul>
					<p>B2B рынок — наша специализация.<br />
					Осмысленные творческие коммуникации в сфере B2B — наша работа.</p>
					<p><a href="#">Скачать буклет "Избранные проекты" в pdf</a><br />
					Как нас правильно называть?</p>

					<p>Официальное название: ZERO b2b communications agency.<br />
					Как произносится: Зеро <a href="#">би-ту-би</a> <a href="#">коммьюникейшнз</a> <a href="#">эйдженси</a>.</p>

					<p>Альтернативный русскоязычный вариант: коммуникационное агентство ZERO.</p>
				</div>
			</div>
		</div>
		
		<div class="footer-space"></div>
	</div>
	
	<%= render 'layouts/footer' %>