<% provide(:title, 'ZERO | Про zero') %>

	<div id="container">
		<%= render 'layouts/header' %>
		<div id="middle">
			<div id="left">
				<ul class="l-menu">	
					<% @pages.each do |page| %>
					<%= content_tag :li, (link_to page.title, page), :class => ('active' if @page == page) %>
					<% end %>
					<li><%= link_to "клиенты", clients_path %></li>
				</ul>
			</div>

			<div id="right">
				<div class="h1">
					<h1><span id="page_title" data-mercury="full"><%= @page.title %></span></h1>
				</div>
					
				<div class="content">
					<div id="page_description" data-mercury="full">
					<%= @page.description.html_safe %>
					</div>
				</div>
				<% if admin_user_signed_in? %>
				<%= link_to "Редактировать страницу", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_page_path(@page)} %>
				<% end %>
			</div>
		</div>
		
		<div class="footer-space"></div>
	</div>
	
	<%= render 'layouts/footer' %>