<body>
	<div id="container">
		<%= render 'layouts/header' %>
		<div id="middle">
			<div id="left">
	
			</div>

			<div id="right">
				<div class="h1">
					<h1>Награды</h1>
				</div>
				<ul class="awards-block">
					<% @awards.each do |award| %>
					<li>
						<div class="award-item">
							<span class="ab-img">
								<%= image_tag(award.logo1.url(:small)) %>		
							</span>
							<p><%= award.title %></p>
							<span class="ab-show-link"><span>Показать награды</span></span>
						</div>
						<div class="award-detail">
							<dl>
								<dt><%= award.year %></dt>
								<dd><%= award.description %></dd>
								<dt><%= award.year1 %></dt>
								<dd><%= award.description1 %></dd>
								<dt><%= award.year2 %></dt>
								<dd><%= award.description2 %></dd>
								
							</dl>

							<a href="#" class="ad-close">скрыть</a>
							<span class="ab-img-wall"></span>
						</div>
					</li>
					<% end %>
				</ul>
				
			</div>
		</div>
		
		<div class="footer-space"></div>
	</div>
	
	<%= render 'layouts/footer' %>