<div id="header1">
	
	
	<%= link_to "На главную", root_path, class: "logo" %>
	
	<ul>
		<li class="active">
			<%= link_to "компания", about_path %>
			<ul>
				<li><%= link_to "про зеро", about_path %></li>
				<li><%= link_to "клиенты", clients_path %></li>
				<li><%= link_to "пресс-кит", kit_path %></li>
			</ul>
		</li>
		<li><%= link_to "Работы", about_path %></li>
		<li><%= link_to "Награды", about_path %></li>
		<li><%= link_to "Контакты", contact_path %></li>
		<li><a href="#" class="order-link"><span>Заказать</span></a></li>
	</ul>
</div>