<div id="header">
	
	
	<%= link_to "На главную", root_path, class: "logo" %>
	
	<ul>
		<li>
			<%= link_to "компания", about_path %>
			<ul>
				<% Page.all.each do |page| %>
				<li><%= link_to page.title, page %></li>
				<% end %>
				<li><%= link_to "Клиенты", clients_path %></li>
			</ul>
		</li>
		<li><%= link_to "Работы", works_path %></li>
		<li><%= link_to "Награды", awards_path %></li>
		<li><%= link_to "Контакты", contact_path %></li>
		<li><a href="#" class="order-link"><span>Заказать</span></a></li>
	</ul>
</div>